.ayg {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}
.afv {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.adp {
    border-radius: 0.25rem;
}
.rx {
    width: 1rem;
}
.nw {
    height: 1rem;
}
.yz {
    align-items: center;
}
.lx {
    display: flex;
}
.lk {
    margin-top: 0.5rem;
}